<div>
  <h2>Your form inputs</h2>
  <h4>Nickname</h4>
  <h3>
    <%= @nickname %>
  </h3>
  <h4>Course</h4>
  <h3>
    <%= @course %>
  </h3>
  <h4>Outfit</h4>
  <h3>
    <%= @outfit %>
  </h3>
</div>
